// >> autofill fix
@mixin autofillfix($name) {
  &:-webkit-autofill {
    -webkit-animation-name: $name;
    -o-animation-name: $name;
    animation-name: $name;
    @include prefix(animation-fill-mode, both);
  }

  @at-root {
    @include keyframes($name) {
      @content;
    }
  }
}
